.well.bs-component
  = form_for @pet, :html => {:class => "form-vertical"} do |f|
    - if @pet.errors.any?
      #error_explanation
        %h2
          = pluralize(@pet.errors.count, "error")
          prohibited this pet from being saved:
        %ul
          - @pet.errors.full_messages.each do |message|
            %li= message
    %fieldset
      .col-md-6
        .form-group.required
          = f.label :name, :class => "control-label"
          = f.text_field :name, :class => "form-control"
        .form-group
          = f.label :birthday, :class => "control-label"
          = f.text_field :birthday, :data => { :provide => "datepicker", 'date-format' => 'yyyy-mm-dd' }, :class => "form-control"
        .form-group.required
          = f.label :gender_id, :class => "control-label"
          = f.collection_radio_buttons(:gender_id, Gender.all, :id, :name) do |b|
            .radio
              = b.label { b.radio_button + b.text}
        .form-group.required
          = f.label :species_id, :class => "control-label"
          = f.collection_select(:species_id, Species.all, :id, :name, {}, {:class => "form-control"})
      .col-md-6
        .form-group
          = f.label :image, :class => "control-label"
          = f.file_field :image
        - if f.object.image?
          .form-group
            = image_tag f.object.image.medium.url, :class => "img-responsive"
          .form-group
            = f.check_box :remove_image
            = f.label :remove_image
        - else
          = image_tag image_url("default-pet.jpg"), :class => "img-responsive"
      .col-md-12
        .form-group
          - unless @pet.new_record?
            = link_to 'Remove Pet', @pet, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger pull-left"
          = f.submit 'Submit', :class => "btn btn-primary pull-right"