%p#notice= notice
%p
  %strong Name:
  = @pet.name
%p
  %strong Birthday:
  = @pet.birthday
%p
  %strong Gender:
  = @pet.gender.try(:name)
%p
  %strong Species:
  = @pet.species.try(:name)
%p
  %strong Image:
  = @pet.image_id
- if @pet.user_verified?(current_user)
  = link_to 'Edit', edit_pet_path(@pet)
  |
=link_to 'Back', pets_path